.movieProfileContainer{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: black;
}
.movieProfileImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgWrapper{
    background-color: red;
    width: 100%;
    height: 10%;

}